server {

        server_name {{ cgit_domain_name }};

        listen 80;
        listen [::]:80;

		{% if cgit_use_ssl %}
        listen 443 ssl http2;
        listen [::]:443 ssl http2;

		ssl_certificate /etc/letsencrypt/live/{{ cgit_domain_name }}/fullchain.pem;
		ssl_certificate_key /etc/letsencrypt/live/{{ cgit_domain_name }}/privkey.pem;

		{% if cgit_force_ssl %}
        if ($scheme != "https") {
                return 301 https://$host$request_uri;
        }
		{% endif %}
		{% endif %}

        location / {
                root /usr/lib/cgit/cgit.cgi;
                include /etc/nginx/fastcgi_params;
                fastcgi_pass unix:/run/fcgiwrap.socket;
        }

		location {{ cgit_css_endpoint }} {
				alias {{ cgit_css_location }};
        }

		location {{ cgit_logo_endpoint }} {
				alias {{ cgit_logo_location }};
        }

        location /.well-known/ {
                root /var/lib/letsencrypt/;
        }

}
